<!DOCTYPE html>
<html>
        <head>
                <title>DeviceExample</title>
                 <%= stylesheet_link_tag :all %>
                <%= javascript_include_tag :defaults %>
                <%= csrf_meta_tag %>
        </head>
        <body>
                <ul class="hmenu"></ul>
               <%- flash.each do |name, msg| -%>
                        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                <%- end -%>
                <div id="user_nav">
                        <% if user_signed_in? %>
                        <p style="color:red">Signed in as <b style="color:green"><%= current_user.email %> </b> . Not you?
                                <%= link_to image_tag("logout.jpeg", :size=>"60x25"), destroy_user_session_path, :method => :delete %>
                         </p>
                        <% else %>
                                 <%= link_to image_tag("signup.jpeg"), new_user_registration_path %> or <%= link_to image_tag("login.jpeg"), new_user_session_path %>
                                 </br></br>
                        <% end %>
                </div>
                <%= yield %>
        </body>
</html>

